@import "../includes/bootstrap/bootstrap-reboot";

*:focus {
  outline: none !important;
}

html {
  font-size: 16px;
}

body {
  background-color: $body-bg;
}

svg {
  display: flex;
  fill: currentColor;
  width: inherit;
  height: inherit;
}

button {
  color: inherit;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

label {
  color: $dark;
  font-weight: 500;
}

a {
  font-weight: $link-font-weight;
}
