<div class="container-fluid py-5 success-form">
  <div class="row">
    <div class="col-12 text-center my-5">
      <img class="codeForm__logo" src="assets/images/logo-colors.png">
    </div>

  </div>
</div>
<div class="container-fluid pl-0 position-relative success-form__overflow">
  <div class="row ml-0 success-form__wrapper">
    <div class="col-12 col-lg-8 col-xl-8 py-5 success-form__bg d-flex justify-content-end">
    </div>
  </div>
  <div class="col-12 text-center pt-5">
    <div class="success-form__text mx-auto">
      <h1 class="success-form__heading mb-0">УРА!!!</h1>
      <p class="mb-5 success-form__sub-heading">идём дальше! </p>
      <p class="success-form__small">тут какая-то ссылка <a class="success-form__link" href="https://google.com">svcolasupergood.ru</a></p>

    </div>
  </div>
</div>
